:root {
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}

/* font-family: 'Luckiest Guy',
cursive;
font-family: 'Zilla Slab',
serif; */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #767f8b;
  background-image: url(./assets/grey-pattern.jpg);
  background-position: 0 0;
  background-size: auto;
}